.header {
    background-color: blue;
    color: white;

    display: flex;
    justify-content: center;
}

.logo {
    width: 10%;
}

.topz {
    display: flex ;
    font-size: 10px;
}

.nav-list-items {
    margin-right: 10px;
    list-style-type: none;
}

.section1 {
    display: flex;
    /* justify-content: ; */
    flex-direction: row;
    flex-wrap: wrap;
}

.pruduct-list {
    width: 250px;
    height: 250px;

    margin-top: 10px;
    margin-right: 10px;
    border-radius: 30px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 12px;
}

.product1 {
    width: 200px;
}

.footer {
    background-color: black;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.footer1 {
    display: flex;
    flex-direction: column;

    width: 300px;
    padding-right: 20px;
}

.footer-image {
    width: 300px;
}

.footer2 {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
}

.footer2-links {
    text-decoration: none;
    color: #fff;
}

.footer3-links {
    text-decoration: none;
    padding-right: 20px;
    color: #fff;
}


.footer3 {
    display: flex;
    flex-direction: row;

    width: 200px;
    flex-wrap: wrap;
}